header {
    color: royalblue;
    background-color: #FFFFFF;
    border: 4pt solid #FFFFFF;
    padding: 5px;
    margin: -9px;
    width: 100%;
    height: auto;
}

nav{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    top: 
}

.menu{
    background-color: #D3D3D3;
    color: white;
    font-size: 15px;
    border-radius: 50px;
    padding: 5px 30px;
    margin: 5px;
}

body {
    
    background-color: #D3D3D3;
}

h1 {
   position:relative;
    left: 0px;
    top: 15px;
    font-size: 2em;   
}

caption {
    background-color: royalblue;
}

table {
    width: 50%;
    border-collapse: collapse;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

th {
    height: 40px;
}

tr {
    height: 30px;
}

td {
    text-align: center;
}

tr:hover {
    background-color: yellow;
}

div.event {
    background-color: #FFFFFF;
    text-align: center;
    border: 3pt solid #FFFFFF;
    padding: 5px;
    margin: auto;
    width: 200px;
    
}

div.Logo {
    float: left;
}

footer {
    float: right;
    position: relative;
    top: 100px;
    background-color: #FFFFFF;
    border: 4pt solid #FFFFFF;
    padding: 5px;
    margin: -9px;
    width: 100%;
    height: auto;
}

@media screen and (max-width:480px){
    
}