header {
    color: royalblue;
    background-color: #FFFFFF;
    border: 4pt solid #FFFFFF;
    padding: 5px;
    margin: -9px;
    width: 100%;
    height: auto;
}

li {
    display: inline;
    font-size: 1.25em;
    color: royalblue;
    position:relative;
    left: 70%;
    bottom: 30px;
    padding: 10px;
    
}

body {
    
    background-color: #D3D3D3;
}

h1 {
   position:relative;
    left: 0px;
    top: 15px;
    font-size: 2em;
}

div.CSS {
    color: #2F4F4F;
    position: fixed;
    left: 15%;
    width: 200px;
    top: 150px;
    height: 280px;
    background-color: #FFFFFF;
    border: 2pt solid #FFFFFF;
    margin: auto;
    padding: 5px;
}

div.ArtClub {
    color: #2F4F4F;
    position: fixed;
    left: 40%;
    width: 200px;
    top: 150px;
    height: 280px;
    background-color: #FFFFFF;
    border: 2pt solid #FFFFFF;
    margin: auto;
    padding: 5px;
}

div.FilipinoClub {
    color: #2F4F4F;
    position: fixed;
    left: 65%;
    width: 200px;
    top: 150px;
    height: 280px;
    background-color: #FFFFFF;
    border: 2pt solid #FFFFFF;
    margin: auto;
    padding: 5px;
}

div.GameDesignClub {
    color: #2F4F4F;
    position: fixed;
    left: 15%;
    width: 200px;
    top: 450px;
    height: 280px;
    background-color: #FFFFFF;
    border: 2pt solid #FFFFFF;
    margin: auto;
    padding: 5px;
}

div.OutdoorsClub {
    color: #2F4F4F;
    position: fixed;
    left: 40%;
    width: 200px;
    top: 450px;
    height: 280px;
    background-color: #FFFFFF;
    border: 2pt solid #FFFFFF;
    margin: auto;
    padding: 5px;
}

div.FrenchClub {
    color: #2F4F4F;
    position: fixed;
    left: 65%;
    width: 200px;
    top: 450px;
    height: 280px;
    background-color: #FFFFFF;
    border: 2pt solid #FFFFFF;
    margin: auto;
    padding: 5px;
}